.formContainer {
  background: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  .formWrapper {
    background-color: white;
    padding: 40px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .logo {
      font-size: 24px;
      color: steelblue;
      font-weight: bolder;
    }
    .title {
      font-size: 18px;
      color: steelblue;
      font-weight: bolder;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .fileSvg {
        font-size: 12px;
        color: rgb(103, 103, 103);
        display: flex;
        align-items: center;
        transition: scale 2s ease;
        cursor: pointer;
      }
      .fileSvg:hover{
        transform: scale(1.02);
       }
      input {
        width: 100%;
        padding: 15px 60px;
        border: none;
        border-bottom: 1px solid pink;
        outline: none;

        &::placeholder {
          color: rgb(178, 178, 178);
        }
      }
      button {
        background-color: steelblue;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }
    p {
      color: rgb(66, 82, 95);
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
