@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer,
.home {
  background: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  .formWrapper {
    background-color: white;
    padding: 50px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid steelblue;
    .logo {
      font-size: 24px;
      color: steelblue;
      font-weight: bolder;
    }
    .title {
      font-size: 18px;
      color: steelblue;
      font-weight: bolder;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
     

      .fileSvg {
        font-size: 12px;
        color: rgb(103, 103, 103);
        display: flex;
        align-items: center;
        transition: scale 2s ease;
        gap: 5px;
        cursor: pointer;
      }
      .fileSvg:hover {
        transform: scale(1.1);
      }
      input {
        padding: 10px 50px;
        border: none;
        border-bottom: 1px solid pink;
        width: 100%;

        &::placeholder {
          color: rgb(178, 178, 178);
        }
      }
      button {
        background-color: rgb(77, 158, 224);
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        padding: 5px;
        &:hover{
          background-color: rgb(9, 105, 183);
          transform: scale(1.03);
        }
      }
    }
    p {
      color: rgb(66, 82, 95);
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.home {
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;

    .sidebar {
      flex: 1;
      border-right: 1px solid gray;
      background: steelblue;
      color: white;
      overflow: hidden;
      @include laptop {
        position: relative;
      }
      .navbar {
        display: flex;
        align-items: center;
        background-color: rgb(34, 66, 91);
        height: 50px;
        justify-content: space-between;
        padding: 30px;
        .logo {
          font-size: bold;
          @include tablet {
            display: none;
          }
        }
        .user {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        .avatar-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
          img {
          width: 32px;
          height: 32px;
          background-color: white;
          border-radius: 50%;
          object-fit:cover;

        } 
        }
        

        button {
          background-color: steelblue;
          color: white;
          font-size: 5px;
          border: none;
          cursor: pointer;
          padding: 5px;
          transition: scale 0.3s;
          @include laptop() {
            position: absolute;
            bottom: 20px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .search {
        border-bottom: 1px solid white;
        input {
          transition: scale 0.3s ease-in;
          &:hover {
            transform: scale(1.05);
          }
        }

        .searchForm {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 10px;
          padding: 0 30px;

          input {
            width: 100%;
            background-color: transparent;
            outline: none;
            padding: 10px;
            color: white;
            border-radius: 10px;
            border: none;

            &::placeholder {
              color: lightgray;
              padding-left: 10px;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        transition: background-color 0.2s ease-in;
        transition: scale 0.3s ease;
        padding: 10px 30px 10px 30px;

        &:hover {
          transform: scale(1.02);
          background-color: rgb(42, 80, 112);
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            font-style: 18px;
            font-weight: bolder;
          }
          p {
            font-style: 12px;
            color: lightgray;
            @include tablet {
              display: none;
            }
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo {
        background-color: steelblue;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        color: white;
        padding: 30px;

        span {
          font-weight: bold;
        }

        .chatIcons {
          display: flex;
          gap: 10px;
          color: white;
        }
        .chatIcons svg {
          color: rgb(211, 211, 211);
          cursor: pointer;
          transition: scale 2s ease-in-out;
          background-color: transparent;
          border-radius: 50%;
          &:hover {
            transform: scale(1.2);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
      }
      .messages {
        background-color: lightblue;
        padding: 5px;
        height: 550px;
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 5px;
          .messageInfo {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            span {
              font-weight: lighter;
              color: rgb(126, 126, 126);
            }
          }
          &.owner {
            flex-direction: row-reverse;

            p {
              background-color: rgb(106, 181, 106);
              color: white;
              border-radius: 10px 20px 0px 10px;
              max-width: max-content;
            }
          }
        }
        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            border-radius: 10px 10px 20px 0px;
            background-color: white;
            padding: 10px;
            max-width: max-content;
          }
        }
      }
      .send,
      .input-wrapper {
        overflow: hidden;
        height: 60px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        gap: 5px;

        .input {
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          outline: none;
          color: black;
          font-size: 18px;
          padding-left: 20px;
        }
        .send svg {
          transition: scale 0.3s ease-in-out;
          &:hover {
            transform: scale(1.07);
          }
        }

      }
    }
  }
}
